@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins|Raleway&display=swap');

body {
    background-image: url("../Images/code-edited.jpg");
    background-color: white;
    color: white;
}

.brand-text {
    color: white;
    font-family: 'Raleway', sans-serif;

}

.brand-text:hover {
    color: coral;
    font-family: 'Raleway', sans-serif;
}

.navbar-dark .navbar-nav .nav-text {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.navbar-dark .navbar-nav .nav-text:hover {
    color: coral;
    text-decoration: underline;
}

.jumbotron {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: none;
}

h1 {
    /* border: 1px solid coral; */
    /* padding: 0; */
}

#separation-bar {
    color: coral;
    font-size: 4rem;
    vertical-align: middle;
}

.about-me, .portfolio, .form {
    font-family: 'Raleway', sans-serif;
    padding: 5%;
    background: white;
    color: #333;
    border: 3px solid coral;
    overflow: auto;
}

h2 {
    color: coral;

}

hr {
    padding-bottom: 10px;
}

label {
    color: coral;
}

.footer-text {
    color: #f2f2f2;
}
/* Color

Honeydew #E8F7EE
X11 Gray #B8C4BB
Rose Ebony #663F46
Olive Drab #3C362A
Columbia Blue #C9D6EA

font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif; */


