/* General CSS */
@import url('https://fonts.googleapis.com/css?family=Michroma|Raleway|Syncopate:400,700&display=swap');

:root {
    font-size: 1rem;
}

body {
    background-image: url("../Images/code-edited.jpg");
    background-color: white;
    /* background-size: cover; */
    color: white;
    font-family: 'Raleway', sans-serif;
}

/* Navigation */
.brand-text {
    font-size: 1.5rem;
    font-family: 'Michroma', sans-serif;
}

/* Navigation --- Links styling */
.navbar-dark .navbar-nav .nav-text {
    color: coral;
    border: 1px solid coral;
    margin-right: 5px;
}

.navbar-dark .navbar-nav .nav-text:active {
    color: white;
    background-color: rgba(255, 127, 80, .8);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active, .navbar-dark .navbar-nav .nav-link:focus  {
    color: white;
}

/* Navigation --- Collapse links styling */
.navbar-collapse .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 5px;
}

.navbar-nav {
    margin-top: 5px;
}

/* Navigation --- Sweep To Right Effect */
.hvr-sweep-to-right {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: coral;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover {
    color: white;
  }
  .hvr-sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

/* Main Content --- General */
.main-bg-styling {
    padding: 5%;
    background-color: rgba(255, 255, 255, .9);
    color: #333;
    border: 3px solid coral;
    overflow: auto;
}

h2 {
    color: coral;
    font-size: 2rem;
}

hr {
    padding-bottom: 15px;
}

/* Main Content --- Form */
label {
    color: coral;
}

/* Main Content --- Portfolio */
.portfolio-item-body {
    padding: .75rem 1rem;
    background-color: #333;
    height: 15vh;
}

.portfolio-item-header {
    color: coral;
    margin-bottom: .5rem;
}

.portfolio-item-text {
    line-height: 1.25;
    font-size: .75rem;
    color: white;
}

/* Footer */
footer p {
    font-size: .8rem;
    color: rgba(242, 242, 242, .75);
}

footer p a, footer p a:hover, footer p a:visited {
    color: coral;
}
footer p a:active {
    color: white;
}

/* Media Queries */
/* Small devices */
@media only screen and (max-width: 500px) {
    :root {
        font-size: .8rem;
    }
  }

/* Medium devices */
@media only screen and (max-width: 425px) {
    :root {
        font-size: .6rem;
    }
  }





