/* General CSS */
@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins|Raleway&display=swap');

body {
    background-image: url("../Images/code-edited.jpg");
    background-color: white;
    color: white;
    font-family: 'Raleway', sans-serif;

}

/* Navigation */
.brand-text {
    color: white;
}

.navbar-dark .navbar-nav .nav-text {
    color: white;
}

.navbar-dark .navbar-nav .nav-text:hover {
    color: coral;
    text-decoration: underline;
}

/* Main Content --- Content Container */
.about-me, .portfolio, .contact {
    padding: 5%;
    background: white;
    color: #333;
    border: 3px solid coral;
    overflow: auto;
}

h2 {
    color: coral;
}

hr {
    padding-bottom: 15px;
}

/* Main Content --- Form */
label {
    color: coral;
}

/* Main Content --- Portfolio */
.portfolio-item-body {
    padding: .75rem 1rem;
    background-color: #333;
}

.portfolio-item-header {
    color: coral;
    margin-bottom: .5rem;
}

.portfolio-item-text {
    line-height: 1.25;
    font-size: .75rem;
    color: white;
}

/* Footer */
.footer-text {
    color: #f2f2f2;
}



